body{
  background-color: #FFFFFF;
  margin: 0 auto;
  font-family: Helvetica,Arial,sans-serif;
  background-image: url("images/white-tiles.png");
}

ul {
  list-style-type: none;
  margin: 0 auto;
  text-align: center;
  padding: 0;
}

li {

}


h1{
  font-variant: small-caps;
  text-decoration: underline;
  padding: 0;
  margin: 0;
  color: #4a4a4a;
}

h2{
  color: #db6165;
}

h3{
  color: #000;
  font-size: 30px;
  margin-top: 5px;
  padding-top: 5px;
  font-family: 'Lobster', cursive;
  font-weight: bolder;
  font-style: italic;
}

.title p{
  color: #fff;
  text-shadow: 0 0 50px black;
}

@media (min-width:480px){

  h3{
    color: #000;
    font-size: 28px;
    margin: 15px 0px 50px 0px;
    padding-top: 10px;
  }

  .title p{
    margin: -22px 3px -20px 0px;
    color: #fff;
    text-shadow: 0 0 50px black;
    font-size: 11px;
  }

.banner{
  height: 250px;
}

}

@media (min-width:600px){

  h3{
    color: #000;
    font-size: 28px;
    margin: 15px 0px 50px 0px;
    padding-top: 10px;
  }

  .title p{
    margin: -15px 0px -20px 0px;
    color: #fff;
    text-shadow: 0 0 50px black;
    font-size: 15px;
  }

.banner{
  height: 250px;
}

}

@media (min-width:800px){

h3{
  color: #000;
  font-size: 40px;
  margin: 15px 0px 50px 0px;
  padding-top: 10px;
}

.title p{
  margin: -15px 0px 5px 0px;
  color: #fff;
  text-shadow: 0 0 50px black;
}

}


@media (min-width:1000px){

h3{
  color: #000;
  font-size: 70px;
  margin: 15px 0px 30px 0px;
  padding-top: 10px;

}

.title p{
  margin: -15px 0px 5px 0px;
  color: #fff;
  text-shadow: 0 0 50px black;
}

}

.title{
  grid-area: title;
  text-align: center;
  text-shadow: 0 0 50px white;
}

.titlecontact{
margin-top: 5px;
padding-right: 20px;
text-align: right;
}

p {
  color: #000;
  word-wrap: break-word;
}

.justify{
  text-align: justify;
}

a {
  color: #000;
}

form{
  padding: 10px 10px;
}

.formwidth{
  width: 100%;
}

.textarea{
  resize: none;
}

.goldbg{
  background-color: gold;
}

.logo{
  grid-area: logo;
  padding: 0px 20px;
  width: 100%;
  min-width: 200px;
  max-width: 250px;
}

.italic{
    font-style: italic;
}

.banner{
  display: grid;
  grid-template-areas: "logo title";
  background-image: url("images/skyline.png");
  background-repeat: repeat-x;
  background-position: center;
  border-bottom: 2px;
  border-style: solid none solid none;

}

.content{
  display: grid;
  margin: 0px 0px;
  padding: 15px 15px;
  grid-template-areas: "one two";
  grid-template-rows: repeat(auto-fill, minmax(50px, 100%) );
  grid-template-columns: 50% 50%;
  grid-gap: 15px;
}

.content p{
padding: 0 5px 0 5px;
}

.info{
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
background-color: #ffffff;
}

.one{
grid-area: one;
}

.two{
grid-area: two;
}

.navigation{
  display: grid;
  width: 100%;
  border: 0 0 .5px 0;
  border-style: none none groove none;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: ghostwhite;
  text-align: center;
  height: 35px;
}

.navigation li {
  color: #000;
  font-size: 20px;
  font-weight: bold;
  font-variant: small-caps;
  display: inline-block;
  position: sticky;
  padding: 7px 15px 2px 15px;
}

.navigation li a {
  text-decoration: none;
  color: #000;
  font-weight: 300;
}

.navigation li a:hover {
  color: #db6165;
}

.navigation li a:active {
  text-decoration: underline;
}


.content{
  margin: 0px auto;
}

.contentphoto{
  width: 100%;
}

.pageframe
{
  margin: 0px auto;
  width: 80%;
  padding-top: 10px
}

.center {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.footer{
  padding: 10px 0 10px 0;
  margin-top: 35px;
}
