body{
  background-color: #FFFFFF;
  margin: 0 auto;
  font-family: Helvetica,Arial,sans-serif;
  background-image: url("images/white-tiles.png");
  line-height: 1.5;
}

ul {
  list-style-type: none;
  margin: 0 auto;
  text-align: center;
  padding: 0;
}

li {

}

img {
  vertical-align: middle;
  border-style: none;
}

a{
  text-decoration: none;
  color: #000;
}

a hover{
  text-decoration: underline;
}

h1{
  font-variant: small-caps;
  text-decoration: underline;
  padding: 0;
  margin: 0;
  color: #4a4a4a;
}

h2{
  color: #db6165;
}

h3{
  color: #000;
  font-size: 30px;
  margin-top: 5px;
  padding-top: 5px;
  font-family: Verdana, sans-serif;
  font-weight: bolder;
  font-style: italic;
}

.title p{
  color: #000;
  text-shadow: 0 0 50px white;
}

@media (min-width:480px){

  h3{
    color: #000;
    font-size: 28px;
    margin: 5px 0px 30px 0px;
    padding-top: 5px;
  }

  .title p{
    margin: -22px 3px -20px 0px;
    font-size: 15px;
  }

.banner{
  height: 250px;
}

}

.smalltext{
  display: block;
}


@media screen and (max-width: 600px){

  h3{
    color: #000;
    font-size: 28px;
    margin: 7px 0px 30px 0px;
    padding-top: 10px;
  }

  .title p{
    margin: -15px 0px -20px 0px;
    font-size: 18px;
  }

.banner{
  height: 250px;
}

.smalltext{
  display: none
}

}

@media screen and (min-width:800px){

h3{
  color: #000;
  font-size: 40px;
  margin: 10px 0px 35px 0px;
  padding: 5px 15px 0px 0px;
}

.title p{
  margin: -20px 0px 5px 0px;
  font-size: 22px;
}

.logo{
  margin-left: 30px;
}

}


@media screen and (min-width:1050px){

h3{
  color: #000;
  font-size: 60px;
  margin: 15px 0px 30px 0px;
  padding-top: 10px;

}

.title p{
  margin: -15px 0px 5px 0px;
  font-size: 26px;
}

.logo{
  margin-left: 50px;
}

}

.title{
  grid-area: title;
  text-align: center;
  text-shadow: 0 0 50px white;
}

.titlecontact{
padding: 5px 20px 5px;
text-align: center;
font-size: 24px;
color: #db6165;
}

p {
  color: #000;
  word-wrap: break-word;
  padding: 0 10px;
  font-size: 16px;
}

.justify{
  text-align: justify;
}

.rentals {
  display: grid;
  margin: 0px 0px;
  padding: 0px 0px;
  grid-template-areas: "a b"
                        "c e"
                        "d f";
  grid-template-columns: 50% 50%;
  grid-auto-rows: 1fr;
  grid-gap: 15px;
}

.socialicon{
  padding: 0px 15px 15px 15px;;
}

form{
  padding: 10px 10px;
}

.messagebox{
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.textarea{
  resize: none;
}

.goldbg{
  background-color: #dfcb5f;
}

.redbg{
  background-color: #dd6365;
}

.whitebg{
  background-color: #fff;
}

.logo{
  grid-area: logo;
  padding: 0px 20px;
  width: 100%;
  min-width: 200px;
  max-width: 250px;
}

.italic{
    font-style: italic;
}

.banner{
  display: grid;
  grid-template-areas: "logo title";
  background-image: url("images/skyline.png");
  background-repeat: repeat-x;
  background-position: center;
  border-bottom: 2px;
  border-style: solid none solid none;

}

.content{
  display: grid;
  margin: 0px 0px;
  padding: 0px 0px;
  grid-template-areas: "one two";
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

.content p{
padding: 0 5px 0 5px;
}

.info{
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
background-color: #ffffff;
}

.one{
grid-area: one;
}

.two{
grid-area: two;
}


.navigation{
  display: grid;
  width: 100%;
  border: 0 0 .5px 0;
  border-style: none none groove none;
  top: 0;
  padding: 5px 0;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: ghostwhite;
  text-align: center;
  height: 35px;
}

.navigation li {
  color: #000;
  font-size: 20px;
  font-weight: bold;
  font-variant: small-caps;
  display: inline-block;
  padding: 7px 15px 2px 15px;
}

.navigation li a {
  text-decoration: none;
  color: #000;
  font-weight: 300;
}

.navigation li a:hover {
  color: #db6165;
}

.navigation li a:active {
  text-decoration: underline;
}

.contentphoto{
  width: 100%;
}

.solophoto{
  width: 100%;
}

.pageframe
{
  margin: 0px auto;
  width: 80%;
  padding-top: 10px;
}

.center {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.fullborder{
  border: 1px;
  border-style: solid solid solid solid;
  border-color: #000;
}

.bottomnav{
  padding: 10px 0 0 0;
  margin-top: 35px;
  width: 100%;
  border: 0 0 1px 0;
  border-style: solid none solid none;
  border-color: #000;
}

.bottomnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 10px 0;
  text-align: center;
  height: 35px;
}

.bottomnav li {
  color: #000;
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
  padding: 7px 15px 2px 15px;
}

.bottomnav li a {
  text-decoration: none;
  color: #000;
  font-weight: 300;
}

.bottomnav li a:hover {
  color: #fff;
}

.bottomnav li a:active {
  text-decoration: underline;
}

.bottomnavlinks{
  padding-bottom: 20px;
}

.footer{
  padding: 15px 0 25px 0;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-date-phone{
    height: calc(1.5em + 0.75rem + 2px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-right: 20px;
  }
}

.form-inline {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-align: center;
  align-items: center;
}

.btn-block {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
}

input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

textarea[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
